<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ExampleServiceBehavior" name="PureCloudRESTService.RestService">
        <endpoint address="" binding="basicHttpBinding" contract="PureCloudRESTService.IExampleService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8889/ExampleService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExampleServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>